<!-- NAVBAR -->
<nav class="navbar">
  <div class="logo">suryakant coffe shop</div>
  <div class="nav-links">
    <a href="#">Home</a>
    <a href="#">Features</a>
    <a href="#">Contact</a>
  </div>
</nav>

<!-- HERO WITH IMAGE -->
<section class="hero">
  <div class="overlay">
    <div class="hero-content">
      <h1>Crafted with Perfection ☕</h1>
      <p>
        Experience premium design and powerful performance combined together.
      </p>

      <button class="btn-primary">Explore Now</button>
    </div>
  </div>
</section>

<!-- FEATURES WITH IMAGES -->
<section class="features">

  <div class="card">
    <img src="assets/21a9251005b5ccc443cba68763600a6a.jpg" />
    <h3>Rich Experience</h3>
    <p>Beautiful visuals that elevate your application UI.</p>
  </div>

  <div class="card">
    <img src="assets/e664f616ca78e751569d94f9f8b13f05.jpg" />
    <h3>Modern Design</h3>
    <p>Clean and professional layouts for real-world apps.</p>
  </div>

  <div class="card">
    <img src="assets/21a9251005b5ccc443cba68763600a6a.jpg" />
    <h3>Performance</h3>
    <p>Fast and optimized experience across all devices.</p>
  </div>

</section>

<!-- FOOTER -->
<footer class="footer">
  <p>© 2026 MyApp. All rights reserved to suryakant.</p>
</footer>

<router-outlet></router-outlet>